target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
pom.xml.tag
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build/

.idea/
.vscode/
*.iml
*.iws
*.ipr
out/

.project
.classpath
.settings/


*.log
log/
tmp/
temp/

.DS_Store
Thumbs.db

src/main/resources/application.properties
